.tableContainer {
  background-color: $Color-Background;
  height: 82%;
  width: 90%;
  position: relative;
  border-radius: 1rem;
  @include absCenter;
  padding: 3rem;
  box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px #acafc605;
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 1rem;
  }
}

.table {
  &__row {
    display: grid;
    grid-template-columns: repeat(4, 30rem);
    margin-bottom: 3.5rem;

    &--header {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.5rem;
      letter-spacing: 0.02em;
      text-align: left;
      color: #979ca8;
    }

    &--body {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.7rem;
      letter-spacing: 0.02em;
      text-align: left;
      color: #364a61;
    }
  }
}
