.landing {
  height: 90vh;
  width: 80%;
  border-radius: 0.6rem;
  @include absCenter;
  background: radial-gradient($Color-Orange, $Color-Off-White, $Color-Orange);
  backdrop-filter: blur(200px);
}

.table {
  background-color: $Color-Background;
  height: 95%;
  width: 95%;
  border-radius: 0.6rem;
  @include absCenter;
}
