.landing {
  height: 85%;
  width: 80%;
  border-radius: 1rem;
  @include absCenter;
  background: linear-gradient(to right top, $Color-Off-White, $Color-Orange);
  padding-left: 5rem;

  img {
    width: 25rem;
    height: 5rem;
    margin: 1rem 0;
  }
}

.tableContainer {
  background-color: $Color-Background;
  height: 82%;
  width: 90%;
  position: relative;
  border-radius: 1rem;
  @include absCenter;
  box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px #acafc605;
  // overflow: scroll;
  padding: 3rem;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    background: $Color-Orange;
    border-radius: 3px;
    border: 3px solid $Color-Orange;
  }
}

.main {
  padding-left: 5rem;
}

.table {
  &__row {
    display: grid;
    grid-template-columns: repeat(4, 30rem);
    margin-bottom: 3.5rem;

    &--header {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.5rem;
      letter-spacing: 0.02em;
      text-align: left;
      color: #979ca8;
    }

    &--body {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.7rem;
      letter-spacing: 0.02em;
      text-align: left;
      color: #364a61;
    }
  }
}

.initials {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.3rem;
  letter-spacing: 0.02em;
  text-align: center;
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 100%;
  color: #fff;
  padding: 0.6rem;
  margin-right: 1rem;
}

.btn {
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;

  button {
    outline: none;
    border: none;
    background-color: #fff7e6;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    color: #ff9900;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.02em;
    border-radius: 2rem;
    margin-right: 3rem;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px #acafc605;
    &:focus,
    &:active {
      box-shadow: none;
    }
  }
}
